<div class="search">
  <mat-form-field class="dropdown">
    <mat-label>Search type</mat-label>
    <mat-select>
      <mat-option *ngFor="let type of searchTypes" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input">
    <input matInput type="text" placeholder="Enter a search term" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button matSuffix (click)='getResults(value)'>Search</button>
  </mat-form-field>
</div>
