<mat-menu class="dropdown" #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-form-field class="search">
    <input matInput type="text" placeholder="Enter a search term" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-button matSuffix>Search</button>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
</mat-form-field>