.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 1em;
}

.dropdown {
    margin-right: 1em;
}

.input {
    width: 30vw;
}

.details {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.list {
    margin-top: 1em;
    border-top: solid 1px #949494;
    width: 50em;
    padding: 1em;
}

.result-name {
    font-weight: bold;
    font-size: 1.2em;
}